.promo {
    position: relative;
    min-height: 1150px;
    @media (max-width: 2299px) {
        min-height: 1000px;
    }
    @media (max-width: 2199px) {
        min-height: 900px;
    }
    @media (max-width: 1920px) {
        min-height: 870px;
    }
    @media (max-width: 1799px) {
        min-height: 820px;
    }
    @media (max-width: 1699px) {
        min-height: 770px;
    }
    @media (max-width: 1599px) {
        min-height: 720px;
    }
    @media (max-width: 1499px) {
        min-height: 700px;
    }
    @media (max-width: 1399px) {
        min-height: 640px;
    }
    @media (max-width: 1299px) {
        min-height: 600px;
    }
    @media (max-width: 1199px) {
        min-height: 550px;
    }
    @media (max-width: 1099px) {
        min-height: 470px;
    }
    @media (max-width: 991px) {
        min-height: 420px;
    }
    @media (max-width: 899px) {
        min-height: 400px;
    }
    @media (max-width: 799px) {
        min-height: 350px;
    }
    @media (max-width: 767px) {
        min-height: 330px;
        position: absolute;
        top: 250px;
        left: 0;
        width: 100%;
        // height: 100%;
        z-index: 10;
    }
    @media (max-width: 575px) {
        position: unset;
        background-color: #010101;
        min-height: unset;
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }
    .promo-content-wrapper {
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);
        z-index: 20;
        @media (max-width: 2299px) {
            top: 10%;
        }
        @media (max-width: 2199px) {
            top: 5%;
        }
        @media (max-width: 767px) {
            position: unset;
            transform: unset;
        }
        .promo-content {
            color: #fdfdff;
            @media (max-width: 1399px) {
                padding-top: 2rem;
            }
            @media (max-width: 1199px) {
                padding-top: 0;
            }
            h1 {
                font-weight: 300;
                font-size: 4.7rem;
                margin-bottom: 15px;
                line-height: 1;
                @media (max-width: 1920px) {
                    font-size: 4.2rem;
                }
                @media (max-width: 1399px) {
                    margin-top: 0;
                    font-size: 4rem;
                }
                @media (max-width: 1199px) {
                    font-size: 3.5rem;
                }
                @media (max-width: 991px) {
                    font-size: 2.7rem;
                }
            }
            h1 .bold {
                font-weight: 700;
            }
            .promo-slogan {
                font-family: "Manrope", sans-serif;
                font-weight: 300;
                letter-spacing: 2.5px;
                font-size: 2rem;
                @media (max-width: 1920px) {
                    font-size: 1.7rem;
                }
                @media (max-width: 1399px) {
                    font-size: 1.5rem;
                }
                @media (max-width: 1199px) {
                    font-size: 1.3rem;
                }
                @media (max-width: 991px) {
                    font-size: 1rem;
                }
                @media (max-width: 575px) {
                    font-size: 1.45rem;
                }
            }
            .basic-button {
                margin-top: 4rem;
                text-transform: uppercase;
                width: 330px;
                height: 88px;
                font-family: "Affect", sans-serif;
				@media (max-width: 1920px) {
                    width: 300px;
                    height: 80px;
                    margin-top: 3rem;
                }
				@media (max-width: 1799px) {
                    width: 270px;
                    height: 70px;
                }
				@media (max-width: 1599px) {
                    width: 250px;
                    height: 65px;
                }
				@media (max-width: 1399px) {
                    width: 200px;
                    height: 60px;
                    margin-top: 1.5rem;
                }
                @media (max-width: 1199px) {
                    width: 170px;
                    height: 50px;
                }
                @media (max-width: 991px) {
                    width: 160px;
                    height: 45px;
                    margin-top: 1rem;
                }
                @media (max-width: 575px) {
                    margin-top: 33px;
                    font-size: 1.7rem;
                    height: 60px;
                    width: 100%;
                }
            }
        }
    }
}
.lines-bg-wrapper {
    position: absolute;
    // top: -50px;
    top: 250px;
    right: 13.5%;
    width: 48%;
    @media (max-width: 2199px) {
        // top: -80px;
        top: 230px;
    }
    @media (max-width: 1920px) {
        top: 200px;
    }
    @media (max-width: 1799px) {
        // top: -50px;
        top: 185px;
    }
    @media (max-width: 1599px) {
        // top: -30px;
        top: 165px;
    }
    @media (max-width: 1399px) {
        // top: -40px;
        top: 155px;
    }
    @media (max-width: 1199px) {
        top: 125px;
    }
    @media (max-width: 991px) {
        right: 17%;
        top: 110px;
    }
    @media (max-width: 799px) {
        top: 90px;
    }
    @media (max-width: 767px) {
        top: 110px;
        right: 16%;
    }
    @media (max-width: 575px) {
        width: 70%;
        right: 0;
        top: 100px;
    }
    @media (max-width: 499px) {
        top: 95px;
    }
    @media (max-width: 449px) {
        top: 85px;
    }
    video {
        width: 100%;
        height: auto;
    }
}
.promo-block {
    position: absolute;
    // height: 1524px;
    top: 0;
    z-index: 5;
    @media (min-width: 576px) and (max-width: 767px) {
        position: relative;
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            z-index: 6;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    @media (max-width: 575px) {
        position: relative;
    }
    &--bg {
        // top: 0;
        top: -390px;
        left: 0;
        z-index: 10;
    }
    &--product {
        // top: 115px;
        top: 155px;
        right: 0;
        z-index: 5;
        .red-line {
            position: absolute;
            z-index: 10;
            height: 1513px;
            width: 800px;
            top: -455px;
            right: 52.7%;
            transform: rotate(1.2deg);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}