// $main-font-color: rgb(80, 80, 80);
// $main-basic: #79629d;
// $main-basic-light: #D0CEDC;
// $main-basic-dark: #533682;
// $main-basic-mat: #8e8aa7;
// $blue: #00A0E3;
// $grey: #656565;
// $white: #ffffff;
// $black: #000000;

$red: #e31e24;
$font-color: #202122;
$white: #FDFDFF;